/** {*/
/*    border: 1px solid red;*/
/*}*/

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
}

h1 {
    color: white;
    font-weight: 300;
    letter-spacing: .05em;
    font-size: 2.75em;
    font-family: "Vast Shadow", cursive;
    margin-top: 0;
    margin-bottom: 10px;
}

button {
    width: 7em;
    height: 2em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    margin-left: .5em;
    margin-right: .5em;
    letter-spacing: .1em;
}

button:hover {
    background-color: white;
    color: #1F783D;
}

button:focus {
    outline: 0;
}

.dithered {
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    color: rgba(255,255,255,.7);
}

.dithered:hover {
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    color: rgba(255,255,255,.7);
}

#shuffle-btn {
    width: 8em;
    height: 2em;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, .5);
    font-size: .5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 3;
}

#shuffle-btn:hover {
    background-color: white;
    color: #1F783D;
}

#table {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #155E99;
    border: 30px solid #704B12;
    border-radius: 50px;
    min-height: 500px;
    width: 80%;
    min-width: 500px;
    max-width: 960px;
    box-sizing: border-box;
    padding: 25px;
    box-shadow: -5px 5px 0px #5C3D0F;
}

#table:before {
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    border-radius: 16px;
    border-top: 5px solid #5C3D0F;
    border-right: 5px solid #5C3D0F;
}

#table:after {
    content: ' ';
    position: absolute;
    top: -28;
    bottom: -35;
    right: -28;
    left: -35;
    background-color: transparent;
    border-radius: 55px;
    box-shadow: -10px 10px 20px #7f7f7f;
}

#wins-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

#wins-text {
    font-weight: 200;
}

#game-area {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
}

#settings-btn, #info-btn {
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 1em;
    color: rgba(255, 255, 255, .2);
    z-index: 1;
}

#settings-btn {
    right: 1em;
    font-size: 2em;
}

#info-btn {
    right: 2em;
    font-size: 1.8em;
}

#settings-btn:hover, #info-btn:hover {
    color: rgba(255, 255, 255, .4);
}

#settings-window, #info-window {
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    border-radius: 13px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    padding-top: 3.5em;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: 0;
    top: 5;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: .5em;
    letter-spacing: .1em;
}

h4 {
    font-weight: 200;
    margin-bottom: .5em;
}

h4:first-of-type {
    margin-top: .5em;
    margin-bottom: 0;
}

h6 {
    margin-top: 0.5em;
    font-weight: 100;
}

.fa-times {
    position: absolute;
    top: .4em;
    right: .6em;
    color: rgba(255, 255, 255, .3);
    font-size: 2em;
}

.fa-times:hover {
    color: rgba(255, 255, 255, .5);
}

.gun {
    background-image: url("../img/revolver.svg");
    width: 25%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hflip {
    transform: scaleX(-1);
}

#messages {
    height: 11px;
    margin: 2px;
}

.hand-container {
    position: relative;
    width: 90%;
    min-width: 300px;
    min-height: 100px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
}

.hand-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .1);
}

.label {
    height: 22px;
    width: 100px;
    transform: rotate(-90deg);
    font-size: 1rem;
    text-align: center;
    position: absolute;
    left: -34px;
    background: rgba(255,255,255,0.4);
    color: rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: .1em;
}

.hand {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding-left: 25px;
    box-sizing: border-box;
}

.points {
    font-size: 4.8em;
    text-align: left;
    letter-spacing: .05em;
    padding-left: 1em;
    padding-right: .3em;
    position: absolute;
    right: 0;
}

.card {
    height: 90px;
    margin: 5px;
    z-index: 5;
}

/*code to collapse hand into stacked cards*/
/*.card:not(:first-child) {*/
/*    margin-left: -50px;*/
/*}*/


/* color selection code adapted from code by Tobias Bogliolo */
#color-selector {
    text-align: center;
}

input {
    display: none;
}

.button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.button span {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.button span:hover {
    padding: 10px;
}

.crimson .button span {
    background-color: #73060A;
}

.golden .button span {
    background-color: #B57C04;
}

.green .button span {
    background-color: #1A6333;
}

.teal .button span {
    background-color: #009688;
}

.blue .button span {
    background-color: #155E99;
}

.indigo .button span {
    background-color: #303E8A;
}

/* deck selector */
#no-of-decks {
    height: 1.5em;
    font-size: 2em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

input[name="decks"] ~ label {
    transition: ease .3s;
    color: rgba(255, 255, 255, .5);
}

input[name="decks"]:hover ~ label {
    font-size: 1.5em;
}

#madeBy {
    position: absolute;
    bottom: 1em;
    color: #404040;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}