/** {*/
/*    border: 1px solid red;*/
/*}*/

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
}

h1 {
    color: white;
    font-weight: 300;
    letter-spacing: .05em;
    font-size: 2.75em;
    font-family: "Vast Shadow", cursive;
    margin-top: 0;
    margin-bottom: 10px;
}

button {
    width: 7em;
    height: 2em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    margin-left: .5em;
    margin-right: .5em;
    letter-spacing: .1em;
}

button:hover {
    background-color: white;
    color: #1F783D;
}

button:focus {
    outline: 0;
}

.dithered {
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    color: rgba(255,255,255,.7);
}

.dithered:hover {
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    color: rgba(255,255,255,.7);
}

#table {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*background-color: #1F783D;*/
    background-color: #1A6333;
    border: 30px solid #704B12;
    border-radius: 50px;
    min-height: 500px;
    width: 80%;
    min-width: 500px;
    max-width: 960px;
    box-sizing: border-box;
    padding: 25px;
    box-shadow: -5px 5px 0px #5C3D0F;
}

#table:before {
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    border-radius: 16px;
    border-top: 5px solid #5C3D0F;
    border-right: 5px solid #5C3D0F;
}

#table:after {
    content: ' ';
    position: absolute;
    top: -28;
    bottom: -35;
    right: -28;
    left: -35;
    background-color: transparent;
    border-radius: 55px;
    box-shadow: -10px 10px 20px #7f7f7f;
}

#wins-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

#game-area {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
}

#settings-btn, #info-btn {
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 1em;
    color: rgba(255, 255, 255, .2);
    z-index: 1;
}

#settings-btn {
    right: 1em;
    font-size: 2em;
}

#info-btn {
    right: 1.8em;
    font-size: 1.8em;
}

#settings-btn:hover, #info-btn:hover {
    color: rgba(255, 255, 255, .4);
}

#settings-window, #info-window {
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    border-radius: 13px;
    display: none;
    position: absolute;
    left: 0;
    top: 5;
    background-color: #1A532D;
    z-index: 100;
}

h2 {
    text-align: center;
}

.fa-times {
    position: absolute;
    top: .3em;
    right: .6em;
    color: rgba(255, 255, 255, .3);
    font-size: 2em;
}

.fa-times:hover {
    color: rgba(255, 255, 255, .5);
}

.gun {
    background-image: url("../img/revolver.svg");
    width: 25%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hflip {
    transform: scaleX(-1);
}

#messages {
    height: 11px;
    margin: 2px;
}

.hand-container {
    position: relative;
    width: 90%;
    min-width: 300px;
    min-height: 100px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
}

.hand-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, .1);
    font-size: 4.8em;
    text-align: left;
    letter-spacing: .05em;
    padding-left: .3em;
    padding-right: .3em;
}

.hand {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    /*min-width: 300px;*/
    min-height: 100px;
    /*margin-bottom: 30px;*/
    display: flex;
    flex-wrap: wrap;
    /*padding: 5px;*/
    border-radius: 5px;
}


.label {
    width: 90%;
    min-width: 300px;
    text-align: left;
    color: white;
    letter-spacing: .05em;
}

.points {
    padding-left: 1em;
}

.card {
    height: 90px;
    margin: 5px;
    z-index: 5;
}

/*code to collapse hand into stacked cards*/
/*.card:not(:first-child) {*/
/*    margin-left: -50px;*/
/*}*/